@import 'tailwindcss';

@theme {
  --color-background: oklch(11.8% 0.01 240);
  --color-background-secondary: oklch(15.88% 0.01375 264.1);
  --color-primary: oklch(100% 0 0);
  --color-secondary: oklch(50% 0.01 240);
  --color-highlight: oklch(0.6 0.22 258);
  --shadow-highlight: 0 0.25rem 1.5rem oklch(56% 0.22 258 / 0.08);

  --font-sans: 'Geist', sans-serif;
}

body {
  @apply bg-background text-primary font-sans;

  .container {
    @apply mx-auto my-21 max-w-300 px-4;
  }
}
